# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.DS_Store

# Frontend
node_modules/
dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.sqlite3

# Logs
*.log

# Editor
.vscode/
.idea/
